<!DOCTYPE html>
<html>
<head>
<title>Orphans Care照料孤儿场所html5公益社交手机网站模板免费下载【http://www.lanrenmb.com/yulexiuxian/shequ/】</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Orphans Care Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="http://192.168.1.110:8089/js/jquery-1.11.0.min.js"></script>
<link href="http://192.168.1.110:8089/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--Custom-Theme-files-->
<link href="http://192.168.1.110:8089/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--Custom-Theme-files-->
<!--Start-smoth-scrolling-->
		<script type="text/javascript" src="http://192.168.1.110:8089/js/move-top.js"></script>
		<script type="text/javascript" src="http://192.168.1.110:8089/js/easing.js"></script>	
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--end-smoth-scrolling-->
</head>
<body>
	<!--Header-Starts-Here-->
	<div class="header" id="home">
		<div class="container">
			<span class="menu"> </span>
			<script>
					$( "span.menu" ).click(function() {
					  $( "ul.navig" ).slideToggle( "slow", function() {
					    // Animation complete.
					  });
					});
				</script>
			<div class="navigation">
				<ul class="navig">
					<li class="active"><a href="index.html">Home</a></li>
                    <li><a href="who-we-are.html">Who we are</a></li>
                 	<li><a href="what-we-do.html">What we do</a></li>
                 	<li><a href="gallery.html">Gallery</a></li>
                	<li><a href="404.html">Blog</a></li>
                	<li><a href="contact.html">Contact</a></li>
				</ul>
			
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--Header-Ends-Here-->
	<!--logo-Ends-Here-->
	<div class="logo">
		<div class="container">
			<div class="logo-main">
				<img src="images/logo.png" arc="">
			</div>
		</div>
	</div>
	<!--logo-Ends-Here-->
	<!--Banner-Starts-Here-->
	<div class="banner">
					<div  id="top" class="callbacks_container">
			      		<ul class="rslides" id="slider4">
			        	<li>
							<div class="banner-1">
							</div>
						</li>
						<li>
							<div class="banner-2">
							</div>
						</li>
						<li>
							<div class="banner-3">
							</div>
						</li>
			      </ul>
			    </div>
			    <div class="clearfix"> </div>
			</div>
	<!--Banner-Ends-Here-->
	<!--Slider-Starts-Here-->
				<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
		<!--child-stars-Here-->
		<div class="child">
			<div class="container">
				<div class="child-main">
					<h1>Let’s build the world without child abuse and neglect !</h1>
					<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus consectetur lacus ac odio volutpat ullamcorper. Phasellus finibus sit amet metus sit amet pretium. Suspendisse vehicula justo dolor, vitae bibendum sem luctus in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
				</div>
			</div>
		</div>
		<!--child-Ends-Here-->
		<!--servive-starts-Here-->
		<div class="servive">
			<div class="container">
				<div class="servive-main">
					<div class="col-md-4 servive-left">
						<h3>Help to servive</h3>
						<h4>DONEC IN EUISMOD AUGUE EU FRING ILLA ENIM MAECENAS</h4>
						<p>Nullam pretium orci eu consequat porttitor Nam facilisis lorem quis velit hendrerit, eu sodales lacus venenatis. Pellentesque mollis nibh id lorem rhon cus, at faucibus nisi dapibus. Sed eget risus vel me tus efficitur efficitur. </p>
					</div>
					<div class="col-md-4 servive-right">
						<h4>Class aptent taciti sociosqu ad lit ora torquent per conubi</h4>
						<p>Nullam pretium orci eu consequat porttitor Nam facilisis lorem quis velit hendrerit, eu sodales lacus venenatis. Pellentesque mollis nibh id lorem rhon cus, at faucibus nisi dapibus. Sed eget risus vel me tus efficitur efficitur. </p>
						<div class="s-btn">
							<a href="#">More</a>
						</div>
					</div>
					<div class="col-md-4 servive-right">
						<h4>Class aptent taciti sociosqu ad lit ora torquent per conubi</h4>
						<p>Nullam pretium orci eu consequat porttitor Nam facilisis lorem quis velit hendrerit, eu sodales lacus venenatis. Pellentesque mollis nibh id lorem rhon cus, at faucibus nisi dapibus. Sed eget risus vel me tus efficitur efficitur. </p>
						<div class="s-btn">
							<a href="#">More</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!--servive-Ends-Here-->
		<!--mission-starts-Here-->
		<div class="mission">
			<div class="container">
				<div class="mission-main">
					<div class="col-md-6 mission-left">
						<h3>Our mission</h3>
						<div class="col-md-6 mission-one">
							<img src="images/mission-1.jpg" alt="">
							<div class="m-btn">
								<a href="#">More info</a>
							</div>
						</div>
						<div class="col-md-6 mission-two">
							<h4>Class aptent taciti sociosqu ad ora torquent per conubi</h4>
							<p>Nullam pretium orci eu consequat po rttitor Nam facilisis lorem quis velit hendrerit, eu sodales lacus venenatis. Pellentesque mollis. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-6 mission-left">
						<h3>Children at risk</h3>
						<div class="col-md-6 mission-one">
							<img src="images/mission-2.jpg" alt="">
							<div class="m-btn">
								<a href="#">More info</a>
							</div>
						</div>
						<div class="col-md-6 mission-two">
							<h4>Fusce elementum sem maximus leo finibus ultricies</h4>
							<p>Nullam pretium orci eu consequat po rttitor Nam facilisis lorem quis velit hendrerit, eu sodales lacus venenatis. Pellentesque mollis. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-6 mission-left"></div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!--mission-Ends-Here-->
		<!--help-starts-Here-->
		<div class="help">
			<div class="container">
				<div class="help-main">
					<h3>How we help</h3>
					<p>Nullam pretium orci eu consequat porttitor Nam facilisis lorem quis velit hendrerit, eu sodales lacus venenatis. Pellentesque mollis nibh id lorem rhoncus, at faucibus nisi dapibus. Sed eget risus vel metus efficitur efficitur.Nullam pretium orci eu consequat porttitor Nam facilisis lorem quis velit hendrerit, eu sodales lacus venenatis. Pellentesque mollis nibh id lorem rhoncus, at faucibus nisi dapibus. Sed eget risus vel metus efficitur efficitur. at faucibus nisi dapibus. Sed eget risus </p>
					<div class="h-btn">
						<a href="#">More</a>
					</div>
				</div>
			</div>
		</div>
		<!--help-Ends-Here-->
		<!--footer-Ends-Here-->
		<div class="footer">
			<div class="container">
				<div class="footer-main">
					<div class="col-md-4 footer-left">
						<h3>Follow us</h3>
						<ul>
							<li><a href="#" class="active"><span class="fb"> </span></a></li>
							<li><a href="#"><span class="twit"> </span></a></li>
							<li><a href="#"><span class="c"> </span></a></li>
							<li><a href="#"><span class="g"> </span></a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-right">
						<h3>Location</h3>
						<ul>
							<li><span class="ads"> </span><p>5674 St Ginny place, New york,MD 87 Gh 65.</p></li>
						</ul>
					</div>
					<div class="col-md-4 footer-right">
						<h3>Contact us</h3>
						<ul>
							<li><span class="ph"> </span><p>Phone :+1 871 234 5678</p></li>
							<li><span class="mail"> </span><p><a href="mailto:example@email.com">user@example.com</a></p></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="footer-text">
					<p><a href="http://www.lanrenmb.com/">懒人模板</a></p>
				</div>
			</div>
			<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		</div>
		<!--footer-Ends-Here-->
</body>
</html>