<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Orphans Care照料孤儿场所html5公益社交手机网站模板免费下载【http://www.lanrenmb.com/yulexiuxian/shequ/】</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Orphans Care Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="http://192.168.1.110:8089/js/jquery-1.11.0.min.js"></script>
<link href="http://192.168.1.110:8089/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--Custom-Theme-files-->
<link href="http://192.168.1.110:8089/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--Custom-Theme-files-->
<!--Start-smoth-scrolling-->
		<script type="text/javascript" src="http://192.168.1.110:8089/js/move-top.js"></script>
		<script type="text/javascript" src="http://192.168.1.110:8089/js/easing.js"></script>	
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--end-smoth-scrolling-->
</head>
<body>
	<!--Header-Starts-Here-->
	<div class="header" id="home">
		<div class="container">
			<span class="menu"> </span>
			<script>
					$( "span.menu" ).click(function() {
					  $( "ul.navig" ).slideToggle( "slow", function() {
					    // Animation complete.
					  });
					});
				</script>
			<div class="navigation">
				<ul class="navig">
					<li><a href="index.html">Home</a></li>
                    <li class="active"><a href="who-we-are.html">Who we are</a></li>
                 	<li><a href="what-we-do.html">What we do</a></li>
                 	<li><a href="gallery.html">Gallery</a></li>
                	<li><a href="404.html">Blog</a></li>
                	<li><a href="contact.html">Contact</a></li>
				</ul>
			
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--Header-Ends-Here-->
	<!--who-starts-Here-->
	<div class="who">
		<div class="container">
			<div class="who-main">
				<h3>Who We Are</h3>
				<div class="who-top">
					<div class="col-md-6 who-left">
						<iframe src="//player.vimeo.com/video/21790809" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
					<div class="col-md-6 who-right">
						<h4>NULLAM MAXIMUS EU ENIM AC CONDIMENTUM. ALIQUAM BLANDIT DUI NEQUE</h4>
						<p>Quisque bibendum tempus mi ut convallis. Morbi metus nulla, mollis tempor pulvinar et, venenatis sed lorem. Suspendisse sit amet mi ut erat ornare luctus nec quis libero. Etiam aliquet placerat ante ac cursus. Nam neque nunc, imperdiet in mollis pulvinar, lacinia id sapien. Ut venenatis orci eget ultrices sollicitudin.</p>
						<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ac nibh eget mi eleifend consectetur non egestas purus. Vestibulum commodo, dolor ut dignissim consequat, odio sapien mattis metus, ac vulputate lorem elit vel risus. Sed faucibus vitae sapien et efficitur.Quisque ultricies purus et aliquam pellentesque.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--who-Ends-Here-->
	<!--who-starts-Here-->
	<div class="serve">
		<div class="container">
			<div class="serve-main">
				<div class="col-md-6 serve-left">
					<h3>Who We Serve</h3>
					<h4>Duis dictum, velit at facilisis vehicula, lectus elit sollicitudin nisl, sed placerat elit ipsum vitae nisl.</h4>
					<p>In mollis, nisi id porta porttitor, nisl felis euismod velit, at sagittis ligula ante sit amet purus. Suspendisse nec magna id nisi fermentum dapibus. Vivamus sit amet lobortis dui. In ultrices sollicitudin dui a tristique. </p>
					<p> Nunc vitae convallis arcu. Suspendisse ut diam sapien. In vitae mauris placerat, ultrices est ac, pulvinar ante. Cras eu porta sem. Etiam sed dui risus. Donec vitae ante quis mi blandit eleifend vel quis lorem.</p>
				</div>
				<div class="col-md-6 serve-right">
					<div class="col-md-6 serve-right-left">
						<ul>
							<li><a href="#">Nunc vitae convallis arcu</a></li>
							<li><a href="#">Suspendisse ut diam sapien</a></li>
							<li><a href="#">In vitae mauris placerat</a></li>
							<li><a href="#">Suspendisse nec magna</a></li>
							<li><a href="#">Nisi id porta porttitor</a></li>
							<li><a href="#">Aenean elementum interdum</a></li>
						</ul>
					</div>
					<div class="col-md-6 serve-right-left">
						<ul>
							<li><a href="#">Sed ultrices ipsum in quam</a></li>
							<li><a href="#">Fusce auctor ut est ac sempe</a></li>
							<li><a href="#">Mauris sodales cursus gravida</a></li>
							<li><a href="#">Sed a bibendum ligula</a></li>
							<li><a href="#">Vestibulum at semper lectus</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--who-Ends-Here-->
	<!--staff-starts-Here-->
	<div class="staff">
		<div class="container">
			<div class="staff-main">
				<h3>Our Staff</h3>
				<div class="staff-top">
					<div class="col-md-3 staff-top-left">
						<img src="images/staff-8.jpg" alt="">
						<h4>JOHN MCCOIST</h4>
						<P>Nam bibendum lobortis egestas. Integer eget fermentum</P>
					</div>
					<div class="col-md-3 staff-top-left">
						<img src="images/staff-7.jpg" alt="">
						<h4>BRADLEY</h4>
						<P>Nam bibendum lobortis egestas. Integer eget fermentum</P>
					</div>
					<div class="col-md-3 staff-top-left">
						<img src="images/staff-9.jpg" alt="">
						<h4>MARK JOHNSON</h4>
						<P>Nam bibendum lobortis egestas. Integer eget fermentum</P>
					</div>
					<div class="col-md-3 staff-top-left">
						<img src="images/staff-5.jpg" alt="">
						<h4>BARBARA NILSON</h4>
						<P>Nam bibendum lobortis egestas. Integer eget fermentum</P>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="staff-top">
					<div class="col-md-3 staff-top-left">
						<img src="images/staff-1.jpg" alt="">
						<h4>LAURA STEGNER</h4>
						<P>Nam bibendum lobortis egestas. Integer eget fermentum</P>
					</div>
					<div class="col-md-3 staff-top-left">
						<img src="images/staff-2.jpg" alt="">
						<h4>BRADLEY</h4>
						<P>Nam bibendum lobortis egestas. Integer eget fermentum</P>
					</div>
					<div class="col-md-3 staff-top-left">
						<img src="images/staff-6.jpg" alt="">
						<h4>PATRICK POOL</h4>
						<P>Nam bibendum lobortis egestas. Integer eget fermentum</P>
					</div>
					<div class="col-md-3 staff-top-left">
						<img src="images/staff-4.jpg" alt="">
						<h4>JESSICA PRISTON</h4>
						<P>Nam bibendum lobortis egestas. Integer eget fermentum</P>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--staff-Ends-Here-->
		<!--footer-Ends-Here-->
		<div class="footer">
			<div class="container">
				<div class="footer-main">
					<div class="col-md-4 footer-left">
						<h3>Follow us</h3>
						<ul>
							<li><a href="#" class="active"><span class="fb"> </span></a></li>
							<li><a href="#"><span class="twit"> </span></a></li>
							<li><a href="#"><span class="c"> </span></a></li>
							<li><a href="#"><span class="g"> </span></a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-right">
						<h3>Location</h3>
						<ul>
							<li><span class="ads"> </span><p>5674 St Ginny place, New york,MD 87 Gh 65.</p></li>
						</ul>
					</div>
					<div class="col-md-4 footer-right">
						<h3>Contact us</h3>
						<ul>
							<li><span class="ph"> </span><p>Phone :+1 871 234 5678</p></li>
							<li><span class="mail"> </span><p><a href="mailto:example@email.com">user@example.com</a></p></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="footer-text">
					<p><a href="http://www.lanrenmb.com/">懒人模板</a></p>
				</div>
			</div>
			<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		</div>
		<!--footer-Ends-Here-->
</body>
</html>